.promomap-nav {
	background-color: #262525;
	color: white;
	border-radius: 5px;
}

.promomap-nav a {
	color: #ffaa00;
}

.promomap-nav .icon-bar {
	color: white;
  	border-color: white;
  	background-color: white;
}

.promomap-header {
	background-color: #e0e5e5;
	border-radius: 10px;
	padding-bottom: 20px;
}

.promomap-body {
	background-color: #e0e5e5;
	border-radius: 10px;
	padding-top: 20px;
	color: black;
}

.promomap-background {
	background-color: gray;
}

.modal-backdrop {
  z-index: -1;
}

.fileSelectStyle {
	display: none;
	color: transparent;
	font-size: 0;
	width: 0px;
	height: 0px;
}
