.promomap-nav {
	background-color: #262525;
	color: white;
	border-radius: 5px;
}

.promomap-nav a {
	color: #ffaa00;
}

.promomap-nav .icon-bar {
	color: white;
  	border-color: white;
  	background-color: white;
}

.promomap-header {
	background-color: #e0e5e5;
	border-radius: 10px;
	padding-bottom: 20px;
}

.promomap-body {
	background-color: #e0e5e5;
	border-radius: 10px;
	padding-top: 20px;
	color: black;
}

.promomap-background {
	background-color: gray;
}

.modal-backdrop {
  z-index: -1;
}

.fileSelectStyle {
	display: none;
	color: transparent;
	font-size: 0;
	width: 0px;
	height: 0px;
}

.hover {
    position: relative;
}

.tooltip { /* hide and position tooltip */
  top: 95%;
  left: 50%;
  margin-left: -17%;
  background-color:black;
  color:white;
  border-radius:5px;
  opacity:0;
  position:absolute;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.hover:hover .tooltip { /* display tooltip on hover */
    opacity:1;
}