<nav class="navbar promomap-nav" role="navigation">
	<div class="container">
 
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar-collapse-1"> 
				<span class="sr-only">Toggle navigation</span> 
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button> 
			<a class="navbar-brand" routerLink="home">PromoMap</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
			<div class="navbar-form navbar-right" >
				<app-login></app-login>
			</div>
		</div>
	</div>
</nav>
<!-- Aqui começa o conteudo -->
<div class="wrapper" role="main">
	<div class="container promomap-body">
		<router-outlet></router-outlet>
	</div>
</div> <!-- Fim do conteudo -->
 
<!--<footer> <!- Aqui e a area do footer ->
	<div class="container">
		<div class="row">
			<div id="linksImportantes" class="col-md-3"> <!- Aqui e a area dos links importantes ->
				Links importantes
			</div> 
			<div id="redesSociais" class="col-md-3"> <!- Aqui e a area das redes sociais ->
				redes sociais
			</div> 
			<div id="logoFooter" class="col-md-offset-3 col-md-3"> <!- Aqui e a area da logo do rodape ->
				Logo footer
			</div> 
		</div>
	</div>
</footer> -->