<div class="row">
	<div class="col-xs-12 col-md-10 col-md-pull-1 col-md-push-1">
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h3 class="panel-title">
					<span *ngIf="!error">Meus estabeleciomentos</span>
					<span class="alert-danger" *ngIf="error">
		               Erro: {{errorMessage}}
		            </span>
					<button *ngIf="!error" type="button" tooltip="Cadastrar" routerLink="/create-company" class="btn btn-xs btn-success pull-right"><i class="glyphicon glyphicon-plus"></i>Add</button>
				</h3>
			</div>
			<table class="table table-hover" id="dev-table" >
				<thead>
					<tr>
						<th>Nome</th>
						<th>Descrição</th>
						<th>CNPJ</th>
						<th>Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let company of companys">
						<td>{{company.name}}</td>
						<td>{{company.description}}</td>
						<td>{{company.cnpj}}</td>
						<td>
						<button type="button" (click)="companyAdmin(company)" tooltip="Admin" class="btn btn-xs btn-info"><i class="glyphicon glyphicon-briefcase"></i></button>
						<button type="button" (click)="deleteCompany(company)" tooltip="deletar" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-trash"></i></button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>