.user_dropdown {
	color: white;
	text-decoration: none;
}

input.g-signin2 {display:block;}
input.g-signin2 {display:block;}
/* You can add global styles to this file, and also import other style files */
