<div class="form-group text-center">
	<label class="text-left">Preencha os campos abaixo!</label>
	<br>
	<div class="row"> 
		<div class="col-md-6">
			<input class="form-control" type="text" name="firstName" placeholder="Primeiro Nome">
		</div>
		<div class="col-md-6">
			<input class="form-control" type="text" name="lastName" placeholder="Sobrenome">
		</div>
	</div>
	<br>
	<input class="form-control" type="email" name="email" placeholder="E-mail">
	<br>
	<input class="form-control" type="password" name="password" placeholder="Senha">
	<br>
</div>