<div class="row">
	<div class="col-xs-12 col-md-10 col-md-pull-1 col-md-push-1">
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h3 class="panel-title">{{title}}
					<!-- botão de criar aqui com pull-right-->
				</h3>
			</div>
			<table class="table table-hover" id="task-table">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Categoria</th>
						<th>Preço</th>
						<th>Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Nome do produto</td>
						<td>lanche</td>
						<td>1,99</td>
						<td>---</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
