<div class="row">
	<div class="col-xs-12 col-md-10 col-md-pull-1 col-md-push-1">
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h3 class="panel-title">Produtos
					<button *ngIf="!error" type="button" tooltip="Cadastrar" (click)="openCreateProductModal()" class="btn btn-xs btn-success pull-right"><i class="glyphicon glyphicon-plus"></i>Add</button>
				</h3>
			</div>
			<table class="table table-hover" id="task-table">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Categoria</th>
						<th>Preço</th>
						<th>Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let product of products">
						<td>{{product.name}}</td>
						<td>{{product.category}}</td>
						<td>R$ {{product.price}}</td>
						<td>
							<button type="button" (click)="deleteProduct(product)" tooltip="Deletar" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-trash"></i></button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<app-create-product></app-create-product>
