<div class="row">
	<div id="sidebar" class="col-md-3"> <!-- Area do sidebar -->
		<form>
			<div class="row">
				<div class="col-xs-10 col-xs-push-1 col-xs-pull-1">
					<div class="form-group"><input class="form-control filter-item" type="text" placeholder="Filtrar por nome" name="nameFilter" [(ngModel)]="nameFilter" (ngModelChange)="filterByName()"/></div>
				</div>
			</div>
			<div class="row hidden-xs">
				<div class="col-xs-10 col-xs-push-1 col-xs-pull-1">
					<div class="filter-item col-xs-12">
						<span style="position: absolute; top: 8px">Distância de carro: {{distanceFilter / 1000}} Km</span>
					</div>
					<br>
					<br>
					<input type="range" id="slideDistance" name="slideDistance" [(ngModel)]="distanceFilter" (ngModelChange)="updateFilter()" min="0" max="60000"/>
					<br>
					<div class="filter-list" *ngFor="let filter of categoryFilter">
						<label for="{{filter.category}}" class="filter-item col-xs-12">
							{{filter.name}} 
							<input type="checkbox" id="{{filter.category}}" class="badgebox" name="showCategory" [(ngModel)]="filter.show" (ngModelChange)="updateFilter()">
							<span *ngIf="filter.show" class="fa fa-check pull-right icon"></span>
						</label>
					</div>
				</div>
			</div>
		</form>
		<br>
	</div>
	<div id="conteudo" class="col-md-9"> <!-- Area do conteudo -->
		<div class="alert alert-info"  *ngIf="showInfo">
			<span>
				{{infoMessage}}
			</span>
			<a class="pull-right" style="cursor: pointer" (click)="closeInfo()">Fechar</a>
		</div>
		<div class="alert alert-danger"  *ngIf="error">
			<span>
				{{errorMessage}}
				<a class="pull-right" style="cursor: pointer" (click)="closeError()">Fechar</a>
			</span>
		</div>
		<div *ngIf="loading" class="text-center">
			<h1><i class="fa fa-refresh fa-spin"></i></h1>
		</div>
		<div class="row" *ngIf="!loading"> 
			<div class="col-md-3  col-xs-6 gallery-item" *ngFor="let product of pages[currentPage].products">
				<cl-image (click)="openProductInfo(product)" style="cursor: pointer" class="img-thumbnail img-responsive" public-id="{{product.imagePublicId}}"  height="300" width="300" crop="fill"></cl-image>
				<div class="text-center">
					<span class="label label-primary" *ngIf="product.discount == null">{{product.name}} - R$ {{product.price}}</span>
					<span class="label label-success" *ngIf="product.discount != null">{{product.name}} - R$ {{getDiscountedPrice(product)}}</span>
				</div>
			</div>
		</div>
		<nav aria-label="...">
			<ul class="pagination">
				<li class="page-item disabled">
				<a class="page-link"style="cursor: pointer" (click)="currentPage > 0 ? currentPage=currentPage-1 : currentPage=currentPage" tabindex="-1" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
					<span class="sr-only">Previous</span>
				</a>
				</li>
				<li class="page-item" *ngFor="let page of pages">
					<span class="page-link" style="cursor: pointer" (click)="currentPage = page.index">
						<b *ngIf="currentPage == page.index" style="color: #ffaa00">{{page.index + 1}}</b>
						<span *ngIf="currentPage != page.index">{{page.index + 1}}</span>
					<span class="sr-only"></span></span>
				</li>
				<li class="page-item">
				<a class="page-link"  style="cursor: pointer" (click)="currentPage < pages.length-1 ? currentPage=currentPage+1 : currentPage=currentPage" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
					<span class="sr-only">Next</span>
				</a>
				</li>
			</ul>
		</nav>
		
	</div> 
</div>